#watch,#cart_value,#location_country{
	width:10%;
}
table.recordings.widefat thead th {
	border-bottom: none;
}
table.recordings.widefat tfoot th {
	border-top: none;
}
table.recordings {
	background-color:transparent;
	border:none;
}
table.recordings tbody#the-list tr {
	background-color:#fff;
	height: 70px;
}
div.humc-recordings > div > form > input[type='submit'] {
	font-family: Roboto;
	font-size: 14px;
}
div.humc-recordings > div.tablenav.bottom > div.tablenav-pages > span.pagination-links > a.button.active {
	background-color: #897fed;
	text-decoration: none;
	color: #333333;
}
div.humc-recordings > div.tablenav.bottom > div.tablenav-pages > span.pagination-links > a.button,
div.humc-recordings > div.tablenav.bottom > div.tablenav-pages > span.button,
div.humc-recordings > div.tablenav.bottom > div.tablenav-pages > a.button,
div.humc-recordings > div.tablenav.bottom > div.tablenav-pages > span.pagination-links > span.button
{
	font-family: Roboto;
	font-weight: normal;
	font-size: 16px;
	text-decoration: none;
	border-radius: 50%;
	border: #f2f2f2;
	color: #333333;
	background-color: #f2f2f2;
}
table.recordings tbody#the-list td:nth-child(1) {
	border-top: 10px solid #f8f8f8;
	border-left: 10px solid #f8f8f8;
	border-bottom: 10px solid #f8f8f8;
	padding: 15px 0 10px 15px;
}
table.recordings tbody#the-list td:nth-child(2) {
	border-top: 10px solid #f8f8f8;
	border-bottom: 10px solid #f8f8f8;
	padding: 22px 0 0 15px;
}
table.recordings tbody#the-list td:nth-child(3) {
	border-top: 10px solid #f8f8f8;
	border-bottom: 10px solid #f8f8f8;
	padding: 22px 0 0 15px;
}
table.recordings tbody#the-list td:nth-child(4) {
	border-top: 10px solid #f8f8f8;
	border-right: 10px solid #f8f8f8;
	border-bottom: 10px solid #f8f8f8;
	padding: 18px 0 0 18px;
}
div.humc-logo {
	text-align: center;
	margin-top: 3em;
}
div.tablenav.top {
	text-align: right;
	text-align: -webkit-right;
	margin-bottom: 1em;
}
div.rec-reason-txt {
	width: 40em;
}
div.rec-reason-txt,div.rec-reason-info {
	display:inline-block;
}
#humc-magic-date {
	background-color:#f2f2f2;
	width: auto;
}
.humc-recordings-table-heading {
	font-size: 24px;
	font-weight: 500;
}
#humc-magic-date,
table.recordings > tbody#the-list > tr > td,
table.recordings > thead > tr > th {
	font-size:16px;

}
table.recordings > tbody#the-list > tr,
table.recordings > thead > tr {
	font-weight: normal;
}

table.recordings > tbody#the-list > tr {
	color: #333333;
}

#humc-magic-date,
div.humc-popover-content,
.humc-recordings-table-heading,
table.recordings > tbody#the-list > tr,
table.recordings > thead > tr {
	font-family: Roboto;
}

div.rec-reason-info > a {
	color : #ff4a1f;
}
#wpcontent {
	background-color:#f8f8f8;
}
table.recordings > tbody#the-list > tr > td.watch > a {
	padding-top: 15px;
}
div.humc-text {
	font-family: Roboto;
	font-size: 16px;
	font-weight: normal;
	margin-top: 2em;
	margin-bottom: 2em;
}
div.humc-text > span {
	font-weight: bold;
}
/************POPOVER**************/
.popover {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1060;
	display: none;
	max-width: 276px;
	padding: 1px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 1.42857143;
	line-break: auto;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	letter-spacing: normal;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
	white-space: normal;
	font-size: 14px;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.popover.top {
	margin-top: -15px;
}
.popover.right {
	margin-left: 15px;
}
.popover.bottom {
	margin-top: 15px;
}
.popover.left {
	margin-left: -15px;
}
.popover > .arrow {
	border-width: 11px;
}
.popover > .arrow,
.popover > .arrow:after {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}
.popover > .arrow:after {
	content: "";
	border-width: 10px;
}
.popover.top > .arrow {
	bottom: -11px;
	left: 50%;
	margin-left: -11px;
	border-top-color: #999999;
	border-top-color: rgba(0, 0, 0, 0.25);
	border-bottom-width: 0;
}
.popover.top > .arrow:after {
	bottom: 1px;
	margin-left: -10px;
	content: " ";
	border-top-color: #fff;
	border-bottom-width: 0;
}
.popover.right > .arrow {
	top: 50%;
	left: 24px;
	margin-top: -11px;
	border-right-color: #999999;
	border-right-color: rgba(0, 0, 0, 0.25);
	border-left-width: 0;
}
.popover.right > .arrow:after {
	bottom: -10px;
	left: 1px;
	content: " ";
	border-right-color: #fff;
	border-left-width: 0;
}
.popover.bottom > .arrow {
	top: -11px;
	left: 50%;
	margin-left: -11px;
	border-top-width: 0;
	border-bottom-color: #999999;
	border-bottom-color: rgba(0, 0, 0, 0.25);
}
.popover.bottom > .arrow:after {
	top: 1px;
	margin-left: -10px;
	content: " ";
	border-top-width: 0;
	border-bottom-color: #fff;
}
.popover.left > .arrow {
	top: 50%;
	/*right: -11px;*/
	left: 22.4em;
	margin-top: -11px;
	border-right-width: 0;
	border-left-color: #999999;
	border-left-color: rgba(0, 0, 0, 0.25);
}
.popover.left > .arrow:after {
	right: 1px;
	bottom: -10px;
	content: " ";
	border-right-width: 0;
	border-left-color: #fff;
}
.popover-title {
	padding: 8px 14px;
	margin: 0;
	font-size: 14px;
	background-color: #f7f7f7;
	border-bottom: 1px solid #ebebeb;
	border-radius: 5px 5px 0 0;
}
.popover-content {
	padding: 9px 14px;
	max-height: 20em;
	overflow-y: scroll;
}
.humc-popover-content-heading {
	margin: 0.4em 0px;
}
ul.humc-popover-content-list {
	list-style: unset;
	margin: 0 0;
	padding-left: 2.5em;
}
div.humc-popover-content{
	font-family: 'Roboto';
}

/*****
* Mascot CSS
****/

/*!* Show tooltip content on hover *!*/

[tooltip]:before {
	bottom: 25%;
	font-family: arial;
	font-weight: 600;
	border-radius: 2px;
	background: #585858;
	color: #fff;
	content: attr(tooltip);
	font-size: 12px;
	visibility: hidden;
	opacity: 0;
	padding: 5px 7px;
	margin-right: 12px;
	position: absolute;
	right: 100%;
	white-space: nowrap;
}

[tooltip]:hover:before,
[tooltip]:hover:after {
	visibility: visible;
	opacity: 1;
}

#humc-mascot > a.humc-mascot-float{
	background-repeat: round;
	background-size: auto;

	position:fixed;
	width:55px;
	height:55px;
	bottom:10px;
	right:40px;
	background-color:transparent;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	z-index:1000;
	animation: bot-to-top 2s ease-out;
}

#humc-mascot > ul.humc-mascot-ul{
	position:fixed;
	right:48px;
	padding-bottom:20px;
	bottom:30px;
	z-index:100;
}

#humc-mascot > ul.humc-mascot-ul li.humc-mascot-li{
	list-style:none;
	margin-bottom:10px;
}

#humc-mascot > ul.humc-mascot-ul li.humc-mascot-li a{
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	width:45px;
	height:45px;
	display:block;
	background-color: #ff0100;
	text-decoration: none;
}
#humc-mascot > ul.humc-mascot-ul li.humc-mascot-li a i {
	font-size: 2.5em;
	padding-right: 0.40em;
	padding-top: 0.19em;
}

#humc-mascot > ul.humc-mascot-ul:hover{
	visibility:visible!important;
	opacity:1!important;
}


#humc-mascot > .my-float{
	font-size:24px;
	margin-top:18px;
}

#humc-mascot > a#menu-share + ul{
	visibility: hidden;
}

#humc-mascot > a#menu-share:hover + ul{
	visibility: visible;
	animation: scale-in 0.5s;
}

#humc-mascot > a#menu-share i{
	animation: rotate-in 0.5s;
}

#humc-mascot > a#menu-share:hover > i{
	animation: rotate-out 0.5s;
}

@keyframes bot-to-top {
	0%   {bottom:-40px}
	50%  {bottom:40px}
}

@keyframes scale-in {
	from {transform: scale(0);opacity: 0;}
	to {transform: scale(1);opacity: 1;}
}

@keyframes rotate-in {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

@keyframes rotate-out {
	from {transform: rotate(360deg);}
	to {transform: rotate(0deg);}
}
/**************** Tooltip for Flags *******************/
.tooltip {
	position: absolute;
	z-index: 1070;
	display: block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 1.42857143;
	line-break: auto;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	letter-spacing: normal;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
	white-space: normal;
	font-size: 12px;
	filter: alpha(opacity=0);
	opacity: 0;
}
.tooltip.in {
	filter: alpha(opacity=90);
	opacity: 0.9;
}
.tooltip.top {
	padding: 5px 0;
	margin-top: -3px;
}
.tooltip.right {
	padding: 0 5px;
	margin-left: 3px;
}
.tooltip.bottom {
	padding: 5px 0;
	margin-top: 3px;
}
.tooltip.left {
	padding: 0 5px;
	margin-left: -3px;
}
.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000;
}
.tooltip.top-left .tooltip-arrow {
	right: 5px;
	bottom: 0;
	margin-bottom: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000;
}
.tooltip.top-right .tooltip-arrow {
	bottom: 0;
	left: 5px;
	margin-bottom: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000;
}
.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-width: 5px 5px 5px 0;
	border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-width: 5px 0 5px 5px;
	border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000;
}
.tooltip.bottom-left .tooltip-arrow {
	top: 0;
	right: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000;
}
.tooltip.bottom-right .tooltip-arrow {
	top: 0;
	left: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000;
}
.tooltip-inner {
	max-width: 200px;
	padding: 3px 8px;
	color: #fff;
	text-align: center;
	background-color: #000;
	border-radius: 4px;
}
.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}
/**************** #Tooltip for Flags *******************/
